%section
  %h2 Neobdelani kontakti
  %table
    %thead
      %tr
        %th Ime
        %th Telefon
        %th Email
        %th Datum kontakta
    %tbody
      - @contacts.each do |contact|
        %tr.clickable
          %td= link_to contact.name, contact
          %td= contact.phone
          %td= contact.email
          %td= l contact.created_at, :format => :simple
