.DS_Store
.eprj
public/assets/*
log/*.log
tmp/**/*
nbproject
db/*.sqlite3
public/stylesheets/*.css
public/stylesheets/compiled
public/system/*
config/database.yml
config/double_recall.yml
.sass-cache
coverage
.gitattributes
config/paperclip.yml
*.sql
.rvmrc
.bundle/config
s3.yml
