= title "UÄenci"

.crud
  .master
    = link_to 'Nova oseba', new_person_path

%table
  %thead
    %tr
      %th
        Ime in priimek
      %th
        Naslov
      %th
        Kraj
      %th
        Telefonska stevilka
      %th
        Mobitel
      %th
        Email
      %th
        Opombe
      %th
        Datum dodajanja
  %tbody= render collection
