= title "Učenci"

.crud
  .master
    = link_to 'Nov učenec', new_student_path

%table
  %thead
    %tr
      %th
        Ime in priimek
      %th
        Kontaktne osebe
      %th
        Mentor/Program
      %th
        Naslov
      %th
        Telefonska številka
      %th
        Mobitel
      %th
        Email
      %th
        Status vpisa
      %th
        Datum dodajanja
  %tbody= render collection
  
