- title "Nakupovalni nasveti za #{parent.title}"
- @lightbox = true

.instructions
  = (textilize parent.shop_instructions_html).html_safe
.instrument_image= (image_tag @instrument.icon).html_safe


= render @shop_advices

