$gvido_red: #591F16
$gvido_gray: #D7CFCD
$gvido_light_blue: #B2DCFE

@import "common/floats"
@import "common/font-style"
@import "common/radius"
@import "common/shadows"
@import "common/buttons"
@import "common/crud"
@import "common/fields"
@import "common/flash"
@import "common/notice"
@import "common/tables"
@import "common/forms"

@import "controllers/contacts"

=nav_link
  display: block
  padding: 20px
  height: 54px
  line-height: 54px
  color: #fff
  text-decoration: none
  font-size: 16px
  +dark-shadow

*
  padding: 0
  margin: 0

body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 90%
  
header
  z-index: 999
  background: $gvido_red url("../images/back.gif") repeat
  color: #fff
  padding: 20px
  position: relative
  height: 54px
  h1, h2
    a
      +dark-shadow
      color: #fff
      text-decoration: none
  h1
    height: 30px
    a
      font-size: 30px
  h2
    height: 18px
    a
      font: normal 18px/18px Times, Times New Roman, serif
      font-style: italic
  nav
    position: absolute
    top: 0px
    left: 250px
    #main
      position: absolute
      width: 500px
      top: 0px
      left: 135px
      li
        float: left
        list-style: none
        a
          +nav_link
          &:hover
            background: url("../images/backgrounds/25white.png")
          &:active, &.active
            background: url("../images/backgrounds/50white.png")
    #submenu
      span
        +nav_link
      ul
        display: none
        li
          background: url("../images/backgrounds/25white.png")
          a
            display: block
            padding: 5px 20px
            text-decoration: none
            color: #000
            +mid-shadow
            &:hover
              background: url("../images/backgrounds/50black.png")
      &:hover
        background: url("../images/backgrounds/25white.png")
        ul
          display: block
        
        
  
  #user
    background: url('../images/backgrounds/20black.png')
    position: absolute
    top: 0px
    right: 0px
    padding: 30px 20px
    height: 34px
    &:hover
      background-image: url('../images/backgrounds/50black.png')
    span
      display: block
      +ultra-small-text
    a
      color: $gvido_light_blue
      
    

#content
  position: relative
  padding: 20px
  
  &>h1, &>h2, &>h3, &>h4
    +mid-shadow
  &>h1
    font-size: 28px
    margin-bottom: 14px
    
  a
    color: $gvido_red
    &:hover
      color: #812717
    &:active
      color: red
  
  p
    margin: 10px 0

footer
  padding: 20px
  text-align: center
  color: #999
  
  
#dashboard-index
  #content
    section
      h2
        margin: 15px 0