.albums#albums-index h3 {
  clear: both; }
  .albums#albums-index h3 .admin {
    display: inline; }
.albums#albums-index .not_categorized {
  padding-top: 20px;
  clear: both; }
.albums#albums-index .album, .albums#albums-index .movie {
  position: relative;
  height: 50px;
  width: 220px;
  background: #efefef;
  margin: 0 10px 10px 0;
  padding: 5px 7.5px;
  float: left; }
  .albums#albums-index .album img,   .albums#albums-index .movie img {
    height: 50px; }
  .albums#albums-index .album:hover img,   .albums#albums-index .movie:hover img {
    border: 5px solid #ccc;
    top: 0px;
    right: 0px; }
  .albums#albums-index .album .admin,   .albums#albums-index .movie .admin {
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 5000; }
  .albums#albums-index .album h3,   .albums#albums-index .movie h3 {
    font: bold 12px/18.5px Verdana, Helvetica, Arial, sans-serif;
    width: 140px;
    margin: 0;
    padding: 0; }
    .albums#albums-index .album h3 a,     .albums#albums-index .movie h3 a {
      display: block;
      width: 140px;
      height: 50px;
      text-decoration: none;
      color: #555; }
      .albums#albums-index .album h3 a:hover,       .albums#albums-index .movie h3 a:hover {
        text-decoration: underline; }
  .albums#albums-index .album img,   .albums#albums-index .movie img {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px; }
.albums#albums-index .admin {
  clear: both;
  margin-top: 20px;
  height: auto; }

.albums#albums-show #content .goback {
  clear: both;
  margin-top: 20px; }
.albums#albums-show #content .photos {
  margin: 0; }
  .albums#albums-show #content .photos li {
    position: relative;
    list-style: none;
    float: left;
    margin: 0 10px 10px 0; }
    .albums#albums-show #content .photos li.clear {
      clear: both; }
    .albums#albums-show #content .photos li .admin {
      position: absolute;
      bottom: 8px;
      right: 2px; }
.albums#albums-show #content .admin {
  clear: both;
  margin-top: 20px;
  height: auto; }
