/*
Syntax error: Undefined mixin 'clearfix'.
        on line 6 of /Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/common/_forms.sass, in `clearfix'
        from line 6 of /Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/common/_forms.sass
        from line 1 of /Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/application.sass

1: @import common/forms.sass
2: @import common/misc.sass
3: @import common/admin.sass
4: @import common/pagination.sass
5: 
6: @import controllers/instruments_table.sass
7: @import controllers/references.sass
8: @import controllers/schedules.sass
9: @import controllers/posts.sass
10: @import controllers/links.sass
11: @import controllers/locations.sass

Backtrace:
/Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/common/_forms.sass:6:in `clearfix'
/Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/common/_forms.sass:6
/Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/application.sass:1
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:32:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:12:in `cache'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:31:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activesupport-3.0.4/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/rack/logger.rb:13:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/activesupport-3.0.4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/actionpack-3.0.4/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/hoptoad_notifier-2.4.5/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/application.rb:168:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/application.rb:77:in `send'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/application.rb:77:in `method_missing'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/mihar/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/commands/server.rb:65:in `start'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/commands.rb:30
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/commands.rb:27:in `tap'
/Users/mihar/.rvm/gems/ree-1.8.7-2010.02@gvido/gems/railties-3.0.4/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 6 of /Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/common/_forms.sass, in `clearfix'\A         from line 6 of /Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/common/_forms.sass\A         from line 1 of /Users/mihar/Work/Gvido/gvidor3/public/stylesheets/sass/application.sass\A \A 1: @import common/forms.sass\A 2: @import common/misc.sass\A 3: @import common/admin.sass\A 4: @import common/pagination.sass\A 5: \A 6: @import controllers/instruments_table.sass\A 7: @import controllers/references.sass\A 8: @import controllers/schedules.sass\A 9: @import controllers/posts.sass\A 10: @import controllers/links.sass\A 11: @import controllers/locations.sass"; }
