.contacts table td, .contacts table th {
  padding: 3px; }
.contacts table td {
  border-bottom: 1px dotted #cccccc; }
.contacts .date, .contacts .data {
  margin: 20px 0; }
  .contacts .date strong, .contacts .data strong {
    color: #666666; }

#contacts-new form .notice {
  color: #888888; }
#contacts-new form #contact, #contacts-new form #instruments, #contacts-new form #locations {
  float: left;
  width: 250px; }
  #contacts-new form #contact ul, #contacts-new form #instruments ul, #contacts-new form #locations ul {
    margin-left: 0; }
    #contacts-new form #contact ul li, #contacts-new form #instruments ul li, #contacts-new form #locations ul li {
      list-style: none inside; }
      #contacts-new form #contact ul li label, #contacts-new form #instruments ul li label, #contacts-new form #locations ul li label {
        font-weight: normal; }
