#content .crud {
  display: inline-block;
  display: block; }
  #content .crud:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #content .crud {
    height: 1%; }
  #content .crud input {
    display: table;
    background: #591f16;
    padding: 4.5px 10px;
    color: white !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #272727;
    text-decoration: none !important;
    border: 1px solid transparent;
    cursor: pointer; }
    #content .crud input:hover {
      text-shadow: 0px 1px 1px #dddddd;
      color: black !important;
      background: white;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
    #content .crud input:active {
      text-shadow: 0px 1px 1px #bababa;
      color: black !important;
      background: #eeeeee;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
  #content .crud a {
    margin-left: 7.5px;
    float: left;
    display: table;
    background: #591f16;
    padding: 4.5px 10px;
    color: white !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #272727;
    text-decoration: none !important;
    border: 1px solid transparent;
    cursor: pointer; }
    #content .crud a:hover {
      text-shadow: 0px 1px 1px #dddddd;
      color: black !important;
      background: white;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
    #content .crud a:active {
      text-shadow: 0px 1px 1px #bababa;
      color: black !important;
      background: #eeeeee;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
#content .to_back {
  clear: both;
  margin-top: 50px;
  display: table;
  background: #591f16;
  padding: 4.5px 10px;
  color: white !important;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 0px 1px 1px #272727;
  text-decoration: none !important;
  border: 1px solid transparent;
  cursor: pointer;
  text-shadow: 0px 1px 1px white;
  background: #af928b;
  border: 1px solid #cccccc;
  color: black !important; }
  #content .to_back:hover {
    text-shadow: 0px 1px 1px #dddddd;
    color: black !important;
    background: white;
    border: 1px solid #cccccc;
    text-decoration: none !important; }
  #content .to_back:active {
    text-shadow: 0px 1px 1px #bababa;
    color: black !important;
    background: #eeeeee;
    border: 1px solid #cccccc;
    text-decoration: none !important; }
  #content .to_back:hover {
    border-color: black; }
#content > .crud {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px; }
  #content > .crud a {
    display: none;
    float: left; }
    #content > .crud a.super, #content > .crud a.secondary {
      display: table;
      background: #591f16;
      padding: 4.5px 10px;
      color: white !important;
      font-weight: bold;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-shadow: 0px 1px 1px #272727;
      text-decoration: none !important;
      border: 1px solid transparent;
      cursor: pointer;
      text-shadow: 0px 1px 1px white;
      background: #af928b;
      border: 1px solid #cccccc;
      color: black !important; }
      #content > .crud a.super:hover, #content > .crud a.secondary:hover {
        text-shadow: 0px 1px 1px #dddddd;
        color: black !important;
        background: white;
        border: 1px solid #cccccc;
        text-decoration: none !important; }
      #content > .crud a.super:active, #content > .crud a.secondary:active {
        text-shadow: 0px 1px 1px #bababa;
        color: black !important;
        background: #eeeeee;
        border: 1px solid #cccccc;
        text-decoration: none !important; }
      #content > .crud a.super:hover, #content > .crud a.secondary:hover {
        border-color: black; }
  #content > .crud .master {
    float: right; }
    #content > .crud .master a {
      display: table !important; }
  #content > .crud:hover {
    z-index: 999;
    overflow: auto;
    background: url("/images/backgrounds/gvido_gray_gradient.png") left top repeat-y; }
    #content > .crud:hover a {
      display: table !important; }

.field {
  border-bottom: 1px dotted #efefef;
  margin-bottom: 10px; }
  .field .description, .field .value {
    margin: 2px 0; }
  .field .description {
    font-weight: bold; }

#flash #notice {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 1em;
  display: table;
  background: #fff6bf;
  color: #514721;
  border: 2px solid #ffd324; }
  #flash #notice a {
    color: #514721; }
#flash #error, #flash #alert {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 1em;
  display: table;
  background: #fbe3e4;
  color: #8a1f11;
  border: 2px solid #fbc2c4; }
  #flash #error a, #flash #alert a {
    color: #8a1f11; }
#flash #success {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 1em;
  display: table;
  background: #e6efc2;
  color: #264409;
  border: 2px solid #c6d880; }
  #flash #success a {
    color: #264409; }

#flash #success {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 2px solid #eeeeee;
  width: 100%;
  border-color: #c6d880;
  background: #e6efc2;
  color: #264409; }
#flash #error {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 2px solid #eeeeee;
  width: 100%;
  background: #fbe3e4;
  border-color: #fbc2c4;
  color: #8a1f11; }
#flash #notice {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 2px solid #eeeeee;
  width: 100%;
  background: #fff6bf;
  border-color: #ffd324;
  color: #514721; }

table {
  width: 100%;
  border-spacing: 0; }
  table thead tr th {
    padding: 4px;
    background: #b2dcfe;
    font-size: 14px;
    text-shadow: 0px 1px 1px white; }
  table thead tr th:last-child, table thead tr td:last-child {
    padding-right: 1px; }
  table tbody tr td {
    font-size: 14px;
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid #efefef; }
    table tbody tr td:last-child {
      border: 0;
      padding-right: 0;
      background: none !important; }
  table tbody tr:last-child td {
    border: 0; }
  table tbody tr:nth-child(odd) td {
    background-color: white; }
  table tbody tr:nth-child(even) td {
    background-color: #fafafa; }
  table tbody tr.clickable td {
    cursor: pointer; }
    table tbody tr.clickable td a {
      text-decoration: none;
      color: black; }
  table tbody tr.clickable:hover td {
    background: #eeeeee; }
  table tfoot tr td {
    border-top: 3px solid #af928b;
    padding: 4px;
    font-weight: bold;
    font-size: 14px; }
  table.fields {
    width: auto;
    margin-bottom: 50px; }
    table.fields td, table.fields th {
      vertical-align: top;
      border: 0;
      border-right: 3px solid #efefef !important;
      background: none !important;
      padding-left: 20px;
      padding-right: 20px; }
      table.fields td:first-child, table.fields th:first-child {
        padding-left: 0; }
      table.fields td:last-child, table.fields th:last-child {
        border-right: 0 !important; }
  table th .crud, table td .crud {
    float: right; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 90%; }

header {
  background: #591f16 url("../images/back.gif") repeat;
  color: white;
  padding: 20px;
  position: relative;
  height: 54px; }
  header h1, header h2 {
    text-shadow: 0px 1px 1px #272727; }
  header h1 {
    font-size: 30px; }
  header h2 {
    font: normal 18px/18px Times, Times New Roman, serif;
    font-style: italic; }
  header nav {
    position: absolute;
    top: 0px;
    left: 250px; }
    header nav a {
      display: block;
      float: left;
      padding: 20px;
      height: 54px;
      line-height: 54px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      text-shadow: 0px 1px 1px #272727; }
      header nav a:hover {
        background: url("../images/backgrounds/25white.png"); }
      header nav a:active, header nav a.active {
        background: url("../images/backgrounds/50white.png"); }

#content {
  position: relative;
  padding: 20px; }
  #content > h1, #content > h2, #content > h3, #content > h4 {
    text-shadow: 0px 1px 1px #bababa; }
  #content > h1 {
    font-size: 28px;
    margin-bottom: 14px; }

footer {
  padding: 20px;
  text-align: center;
  color: #999999; }
