#content .crud {
  display: inline-block;
  display: block; }
  #content .crud:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #content .crud {
    height: 1%; }
  #content .crud input {
    display: table;
    background: #591f16;
    padding: 4.5px 10px;
    color: white !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #272727;
    text-decoration: none !important;
    border: 1px solid transparent;
    cursor: pointer; }
    #content .crud input:hover {
      text-shadow: 0px 1px 1px #dddddd;
      color: black !important;
      background: white;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
    #content .crud input:active {
      text-shadow: 0px 1px 1px #bababa;
      color: black !important;
      background: #eeeeee;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
  #content .crud a {
    margin-left: 7.5px;
    float: left;
    display: table;
    background: #591f16;
    padding: 4.5px 10px;
    color: white !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #272727;
    text-decoration: none !important;
    border: 1px solid transparent;
    cursor: pointer; }
    #content .crud a:hover {
      text-shadow: 0px 1px 1px #dddddd;
      color: black !important;
      background: white;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
    #content .crud a:active {
      text-shadow: 0px 1px 1px #bababa;
      color: black !important;
      background: #eeeeee;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
#content .to_back {
  clear: both;
  margin-top: 50px;
  display: table;
  background: #591f16;
  padding: 4.5px 10px;
  color: white !important;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 0px 1px 1px #272727;
  text-decoration: none !important;
  border: 1px solid transparent;
  cursor: pointer;
  text-shadow: 0px 1px 1px white;
  background: #d7cfcd;
  border: 1px solid #cccccc;
  color: black !important; }
  #content .to_back:hover {
    text-shadow: 0px 1px 1px #dddddd;
    color: black !important;
    background: white;
    border: 1px solid #cccccc;
    text-decoration: none !important; }
  #content .to_back:active {
    text-shadow: 0px 1px 1px #bababa;
    color: black !important;
    background: #eeeeee;
    border: 1px solid #cccccc;
    text-decoration: none !important; }
  #content .to_back:hover {
    border-color: black; }
#content > .crud {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px; }
  #content > .crud a {
    display: none;
    float: left; }
    #content > .crud a.super, #content > .crud a.secondary {
      display: table;
      background: #591f16;
      padding: 4.5px 10px;
      color: white !important;
      font-weight: bold;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-shadow: 0px 1px 1px #272727;
      text-decoration: none !important;
      border: 1px solid transparent;
      cursor: pointer;
      text-shadow: 0px 1px 1px white;
      background: #d7cfcd;
      border: 1px solid #cccccc;
      color: black !important; }
      #content > .crud a.super:hover, #content > .crud a.secondary:hover {
        text-shadow: 0px 1px 1px #dddddd;
        color: black !important;
        background: white;
        border: 1px solid #cccccc;
        text-decoration: none !important; }
      #content > .crud a.super:active, #content > .crud a.secondary:active {
        text-shadow: 0px 1px 1px #bababa;
        color: black !important;
        background: #eeeeee;
        border: 1px solid #cccccc;
        text-decoration: none !important; }
      #content > .crud a.super:hover, #content > .crud a.secondary:hover {
        border-color: black; }
  #content > .crud .master {
    float: right; }
    #content > .crud .master a {
      display: table !important; }
  #content > .crud:hover {
    z-index: 999;
    overflow: auto;
    background: url("/images/backgrounds/dr_gray_gradient.png") left top repeat-y; }
    #content > .crud:hover a {
      display: table !important; }

.field {
  border-bottom: 1px dotted #efefef;
  margin-bottom: 10px; }
  .field .description, .field .value {
    margin: 2px 0; }
  .field .description {
    font-weight: bold; }

#flash #notice {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 1em;
  display: table;
  background: #fff6bf;
  color: #514721;
  border: 2px solid #ffd324; }
  #flash #notice a {
    color: #514721; }
#flash #error, #flash #alert {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 1em;
  display: table;
  background: #fbe3e4;
  color: #8a1f11;
  border: 2px solid #fbc2c4; }
  #flash #error a, #flash #alert a {
    color: #8a1f11; }
#flash #success {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-bottom: 1em;
  display: table;
  background: #e6efc2;
  color: #264409;
  border: 2px solid #c6d880; }
  #flash #success a {
    color: #264409; }

#flash #success {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 2px solid #eeeeee;
  width: 100%;
  border-color: #c6d880;
  background: #e6efc2;
  color: #264409; }
#flash #error {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 2px solid #eeeeee;
  width: 100%;
  background: #fbe3e4;
  border-color: #fbc2c4;
  color: #8a1f11; }
#flash #notice {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-bottom: 1em;
  padding: 0.8em;
  border: 2px solid #eeeeee;
  width: 100%;
  background: #fff6bf;
  border-color: #ffd324;
  color: #514721; }

table {
  width: 100%;
  border-spacing: 0; }
  table thead tr th {
    padding: 4px;
    background: #b2dcfe;
    text-align: left;
    font-size: 14px;
    text-shadow: 0px 1px 1px white; }
  table thead tr th:last-child, table thead tr td:last-child {
    padding-right: 1px; }
  table tbody tr td {
    font-size: 14px;
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid #efefef; }
    table tbody tr td:last-child {
      padding-right: 0; }
  table tbody tr:last-child td {
    border: 0; }
  table tbody tr:nth-child(odd) td {
    background-color: white; }
  table tbody tr:nth-child(even) td {
    background-color: #fafafa; }
  table tbody tr.clickable td {
    cursor: pointer; }
    table tbody tr.clickable td a {
      text-decoration: none;
      color: black !important; }
  table tbody tr.clickable:hover td {
    background: #eeeeee; }
  table tfoot tr td {
    border-top: 3px solid #d7cfcd;
    padding: 4px;
    font-weight: bold;
    font-size: 14px; }
  table.fields {
    width: auto;
    margin-bottom: 50px; }
    table.fields td, table.fields th {
      vertical-align: top;
      border: 0;
      border-right: 3px solid #efefef !important;
      background: none !important;
      padding-left: 20px;
      padding-right: 20px; }
      table.fields td:first-child, table.fields th:first-child {
        padding-left: 0; }
      table.fields td:last-child, table.fields th:last-child {
        border-right: 0 !important; }
  table th .crud, table td .crud {
    float: right; }

form.simple_form {
  padding: 10px 0;
  float: none !important;
  clear: both !important; }
  form.simple_form div.input {
    display: inline-block;
    display: block; }
    form.simple_form div.input:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
    * html form.simple_form div.input {
      height: 1%; }
    form.simple_form div.input label {
      display: block;
      font-weight: bold;
      width: 175px; }
    form.simple_form div.input label, form.simple_form div.input input.string, form.simple_form div.input input.boolean, form.simple_form div.input select, form.simple_form div.input textarea {
      display: block;
      float: left;
      padding: 2px;
      height: 14px;
      line-height: 14px;
      margin: 4px; }
    form.simple_form div.input textarea {
      width: 550px;
      height: 180px; }
      form.simple_form div.input textarea.large {
        height: 400px;
        width: 99%; }
    form.simple_form div.input.boolean input.boolean {
      margin-left: 190px; }
    form.simple_form div.input.boolean label {
      padding: 0;
      margin-top: 2px; }
  form.simple_form div.submit {
    clear: both;
    border-top: 2px solid #d7cfcd;
    margin-top: 25px;
    padding: 25px 0;
      padding-left: 190px; }

.contacts table td, .contacts table th {
  padding: 3px; }
.contacts table td {
  border-bottom: 1px dotted #cccccc; }
.contacts .date, .contacts .data {
  margin: 20px 0; }
  .contacts .date strong, .contacts .data strong {
    color: #666666; }
  .contacts .date ul li, .contacts .data ul li {
    list-style: inside; }
.contacts #start {
  padding: 25px 0;
  display: inline-block;
  display: block; }
  .contacts #start:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html .contacts #start {
    height: 1%; }
  .contacts #start a {
    display: table;
    background: #591f16;
    padding: 4.5px 10px;
    color: white !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #272727;
    text-decoration: none !important;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 18px; }
    .contacts #start a:hover {
      text-shadow: 0px 1px 1px #dddddd;
      color: black !important;
      background: white;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
    .contacts #start a:active {
      text-shadow: 0px 1px 1px #bababa;
      color: black !important;
      background: #eeeeee;
      border: 1px solid #cccccc;
      text-decoration: none !important; }
  .contacts #start a, .contacts #start span {
    float: left; }
  .contacts #start span {
    display: block;
    margin: 0 20px;
    line-height: 30px;
    font-size: 18px; }

#contacts-new form .notice {
  color: #888888; }
#contacts-new form #contact, #contacts-new form #instruments, #contacts-new form #locations {
  float: left;
  width: 250px; }
  #contacts-new form #contact ul, #contacts-new form #instruments ul, #contacts-new form #locations ul {
    margin-left: 0; }
    #contacts-new form #contact ul li, #contacts-new form #instruments ul li, #contacts-new form #locations ul li {
      list-style: none inside; }
      #contacts-new form #contact ul li label, #contacts-new form #instruments ul li label, #contacts-new form #locations ul li label {
        font-weight: normal; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 90%; }

header {
  background: #591f16 url("../images/back.gif") repeat;
  color: white;
  padding: 20px;
  position: relative;
  height: 54px; }
  header h1 a, header h2 a {
    text-shadow: 0px 1px 1px #272727;
    color: white;
    text-decoration: none; }
  header h1 {
    height: 30px; }
    header h1 a {
      font-size: 30px; }
  header h2 {
    height: 18px; }
    header h2 a {
      font: normal 18px/18px Times, Times New Roman, serif;
      font-style: italic; }
  header nav {
    position: absolute;
    top: 0px;
    left: 250px; }
    header nav a {
      display: block;
      float: left;
      padding: 20px;
      height: 54px;
      line-height: 54px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      text-shadow: 0px 1px 1px #272727; }
      header nav a:hover {
        background: url("../images/backgrounds/25white.png"); }
      header nav a:active, header nav a.active {
        background: url("../images/backgrounds/50white.png"); }

#content {
  position: relative;
  padding: 20px; }
  #content > h1, #content > h2, #content > h3, #content > h4 {
    text-shadow: 0px 1px 1px #bababa; }
  #content > h1 {
    font-size: 28px;
    margin-bottom: 14px; }
  #content a {
    color: #591f16; }
    #content a:hover {
      color: #812717; }
    #content a:active {
      color: red; }
  #content p {
    margin: 10px 0; }

footer {
  padding: 20px;
  text-align: center;
  color: #999999; }

#dashboard-index #content section h2 {
  margin: 15px 0; }
