.gigs table {
  width: 99%;
  margin-bottom: 20px; }
  .gigs table td, .gigs table th {
    padding: 2.5px;
    border-bottom: 1px solid #fff; }
  .gigs table thead th, .gigs table thead td {
    border-bottom: 2px solid #efefef;
    color: #999; }
  .gigs table td.title {
    width: 25%;
    font-weight: bold; }
  .gigs table td.venue {
    width: 35%; }

#gigs-show .description {
  margin: 5px 0;
  padding: 5px 0 0 0;
  border-top: 1px solid #efefef; }
#gigs-show .date {
  font-style: italic; }
#gigs-show .mentors {
  margin-bottom: 20px; }
  #gigs-show .mentors strong {
    display: block; }
