#content ul.links {
  border-left: 5px solid #efefef;
  margin-left: 7.5px; }
  #content ul.links li {
    line-height: 18px;
    height: 18px;
    padding-left: 8px;
    list-style: none inside; }
    #content ul.links li a {
      text-decoration: underline;
      font-weight: bold; }
  #content ul.links .admin {
    display: inline; }
