#content .pagination {
  padding: 10px 0; }
  #content .pagination a, #content .pagination .current {
    padding: 5px 10px;
    background: #eee;
    color: #000;
    font-weight: bold;
    text-decoration: none; }
  #content .pagination a:hover {
    background: #ddd; }
  #content .pagination .current {
    background: #666;
    color: #fff; }
