.references #content .reference {
  margin-bottom: 30px; }
  .references #content .reference h3 {
    font: bold 14px/19px Helvetica, Arial, sans-serif; }
  .references #content .reference .body {
    border-left: 7px solid #eee;
    padding-left: 5px;
    margin: 5px 0 15px 0; }
