.shop_advices #content .instructions {
  margin-bottom: 30px;
  width: 380px;
  float: left; }
.shop_advices #content .instrument_image {
  float: right; }
.shop_advices #content .advice {
  clear: both;
  margin: 10px 0;
  min-height: 75px;
  background: #efefef;
  padding: 5px;
  position: relative; }
  .shop_advices #content .advice .image {
    float: right; }
  .shop_advices #content .advice .link {
    font-weight: bold;
    display: block;
    margin-top: 10px; }
  .shop_advices #content .advice .admin {
    position: absolute;
    bottom: 2.5px;
    right: 2.5px; }
