form.simple_form
  :padding 10px 0
  float: none !important
  clear: both !important
  label
    :display block
    :font-weight bold
  p
    :margin 4px 0
    :padding 4px 0
  textarea
    :width 99%
    :height 400px
    #contacts-new.contacts &
      :height 100px
  p.submit
    :margin-top 10px
    :background #fff url("../images/submit_bkg.png") repeat-y
    :padding 20px
