%tr
  %td{:colspan => 3, :class => :expense}
    %p.dom
      %label== Dan v mesecu #{l @date, :format => "%B %Y"}:
      = select_tag "expense[new_expenses][day]", options_for_select((1..31), Date.today.day)
    %p.hours
      %label Namen stroška
      = text_field_tag "expense[new_expenses][name]"
    %p
      %label Znesek stroška:
      = text_field_tag "expense[new_expenses][amount]"