%p
  %strong Opombe:
  %br
  = h contact.text
%p
  %strong Dosedanje izkušnje:
  %br
  = h contact.experience
  
- unless contact.instruments.empty?
  %p
    %strong Zanimanje za program(e):
    %ul
      - contact.instruments.each do |instrument|
        %li= link_to instrument.title, instrument_path(instrument)
- unless contact.locations.empty?
  %p
    %strong Zanimanje za lokacije:
    %ul
      - contact.locations.each do |location|
        %li= link_to location.title, location_path(location)
