%section
  %h2 Neobdelani kontakti
  %table
    %thead
      %tr
        %th Ime
        %th Telefon
        %th Email
        %th Programi
        %th Lokacije
        %th Datum kontakta
    %tbody= render @contacts