%h3 Instrumenti
%ul
  = render :partial => 'instrument', :collection => @mentor.instruments
- form_tag add_instrument_mentor_path, :method => :post do
  = collection_select :instrument, :id, @instruments, :id, :title
  = submit_tag :Dodaj