- title "Mentorji"

#mentors
  = render :partial => @mentors
  
= # sortable_element("mentors", :url => {:action => :update_positions})

= link_to "Nov mentor", new_mentor_path
- admin_section do
  = link_to "Nov mentor", new_mentor_path
