var instruments = []
<% for instrument in Instrument.all -%>
  instruments.push(["<%= instrument.id %>", [<%= raw instrument.mentors.map { |mentor| "{\"id\": #{mentor.id}, \"title\": \"#{mentor.full_name}\"}" }.join(", ") %>]]);
<% end -%>

function _gvido_handle_instrument_change(event) {
  $instruments = $("#enrollment_instrument_id")
  $mentors = $("#enrollment_mentor_id")

  $mentors.find("option").each(function(idx, option) {
    if ( idx != 0 ) $(option).remove()
  })
  
  if ( $instruments.val() == "" ) // If instrument isn't picked.
  {
    $mentors.parent().hide()
    return
  }
  
  $(instruments).each(function(idx, instrument) {
    console.log(instrument)
    console.log(instrument[0], $instruments.val())
    if ( instrument[0] == $instruments.val() )
    {
      $(instrument[1]).each(function(idx, mentor) {
        $mentors.append($("<option value='"+ mentor.id +"'>"+ mentor.title +"</option>"))
      })
    }
  })
  
  $mentors.parent().show()
}

$(function() {
  _gvido_handle_instrument_change()
  $("#enrollment_instrument_id").change(_gvido_handle_instrument_change)
})
