var mentors = []
<% for mentor in Mentor.all -%>
  mentors.push(["<%= mentor.id %>", [<%= raw mentor.instruments.map { |instrument| "{\"id\": #{instrument.id}, \"title\": \"#{instrument.title}\"}" }.join(", ") %>]]);
<% end -%>

function _gvido_handle_mentor_change(event) {
  $mentors = $("#enrollment_mentor_id")
  $instruments = $("#enrollment_instrument_id")

  $instruments.find("option").each(function(idx, option) {
    if ( idx != 0 ) $(option).remove()
  })
  
  if ( $mentors.val() == "" ) // If mentor isn't picked.
  {
    $instruments.parent().hide()
    return
  }
  
  $(mentors).each(function(idx, mentor) {
    if ( mentor[0] == $mentors.val() )
    {
      $(mentor[1]).each(function(idx, instrument) {
        $instruments.append($("<option value='"+ instrument.id +"'>"+ instrument.title +"</option>"))          
      })
    }
  })
  
  $instruments.parent().show()
}

$(function() {
  _gvido_handle_mentor_change()
  $("#enrollment_mentor_id").change(_gvido_handle_mentor_change)
})
