- title "Kategorija povezav"
%p
  %strong Naziv:
  = h @link_category.title
%p
  %strong Pozicija:
  = h @link_category.position
  
%p
  %strong Povezave:
  = render :partial => "links/link", :collection => @link_category.links

