- if params[:video]
  - title "Video"
  - unless @movies.empty?
    = render :partial => @movies  
  
- else
  - title "Fotografije"
  = render :partial => "album_category", :collection => @albums_by_category
  - unless @albums_no_category.empty?
    .not_categorized
      %h3 Ostali albumi
      = render :partial => "album", :collection => @albums_no_category
      
