%section
  %h2 Zamudniki plaÄil
  %table
    %thead
      %tr
        %th Ime
        %th Rok plaÄila
        %th Znesek
    %tbody= render :partial => "payments/due_payment", :collection => @payments