- title "Lokacije"
= gmaps4rails(@json)
- collection.in_groups_of(2).each do |row|
  .row
    - row.each do |section|
      - if section
        .section
          %h3
            = link_to section.title, location_section_locations_path(section)
          %ul.locations
            - section.locations.each do |location|
              %li
                = link_to location.title, location

  
