- title "Novice"

- unless @notices.nil?
  .notices
    %h3 Aktualno
    %ul= render :partial => 'notice', :collection => @notices
- else
  = render_misc 'post'
  
= render @posts
= will_paginate @posts
