%h3 Vpis
%p
  Vpis se opravlja vsako leto in sicer v drugi polovici avgusta tekočega leta oz. do začetka šolskega leta (september).
%p
  Vpis se lahko opravi tudi kadarkoli kasneje, tudi med šolskim letom. Pri tem je treba upoštevati, da je dodelitev optimalnega tedenskega termina za pouk nekoliko težji in se pričakuje prilagajanje s strani učenca oz. udeleženca.