%p
  %strong GVIDO 
  pozdravlja sproščeno učenje in sodobno podajanje snovi z vsem spoštovanjem do klasične, ljudske in tradicionalne glasbe.
%p
  %strong GVIDO 
  se prilagaja željam posameznikov (pop, rock, etno, jazz...), seveda pa tudi v okviru lastnega interesa in referenc sledi programom, ki zagotavljajo kvalitetno in strokovno obravnavo ter izvajanje. 
%p
  Tukaj so (splošni) programi bolj podrobno opisani. 
  Za vsa dodatna vprašanja se obrnite na naš telefon: 
  031/34 36 30