%h3 Kdo/kaj je GVIDO?
%p 
  GVIDO je kratica in pomeni:
  %br
  %strong Glasbeno Vzgojno Izobraževalno Društvo
%p
  Ime je povzeto tudi po italijanskemu glasbenemu teoretiku iz začetka drugega tisočletja, ki je pomembno vplival na (notni) zapis glasbe. Gvido iz Arezza oz. Areški Gvido (rojen pred l.1000, umrl okoli l.1050) je prišel iz samostana Pomposa pri Ferrari v katedralsko šolo v Arezzu in v svojem prologu k Antifonariju opisuje novo notno pisavo. Sestavljena je bila iz sistema linij v razmiku terc (interval), med katere je Gvido postavil eno rumeno linijo "do" in eno rdečo linijo "fa". Iz njegovega sistema je nastala - z uporabo ključev - naša linijska pisava.