%h3 Obvestilo
%p
  GVIDO - Glasbeno vzgojno-izobraževalno društvo se zavezuje, da bo pridobljene podatke uporabljalo izključno za potrebe vpisa in obveščanja o svojih glasbenih dejavnostih in storitvah. 
%p
  Podatke iz prijavnice bomo varovali v skladu z zakonom o varovanju osebnih podatkov in jih ne bomo posredovali tretjim osebam.