%h3 Odgovori na vaša najpogostejša vprašanja
%p 
  Če odgovori ne ustrezajo vašemu zanimanju, nas pokličite na številko
  %strong 031/34 36 30 
  ali pišite:
  = link_to "info@gvido.si", "mailto:info@gvido.si"