- attrs = (gig.upcoming?) ?  {:class => "upcoming"} : {}
%tr{attrs}
  %td.title= gig.title
  %td.venue= gig.venue
  %td= l gig.happening_at, format: :short

  %td.crud
    = link_to "Podrobnosti", gig
