%h3 Mentorji
%ul
  = render :partial => 'mentor', :collection => @gig.mentors
= form_tag add_mentor_gig_path, :method => :post do
  = collection_select :mentor, :id, @mentors, :id, :title
  = submit_tag :Dodaj
