- title "Lokacije"
- @locations.in_groups_of(3).each do |row|
  .row
    - row.each do |location|
      - if location
        = render :partial => location
  

- admin_section do
  = link_to "Nova lokacija", new_location_section_location_path
